CloneSetup/Connected Services/LoginService/RPLoginSvc3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dbaservices.corp.realpage.com/RPLoginSvc.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dbaservices.corp.realpage.com/RPLoginSvc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RPLoginSvc" />
  <xs:element name="IsUserMemberOfGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserMemberOfGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserMemberOfGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAuthenticatedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAuthenticatedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAuthenticatedUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUsersGroupsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RPLoginSvc" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q2:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>