CloneSetup/Connected Services/LoginService/RPLoginSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RPLoginSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dbaservices.corp.realpage.com/RPLoginSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dbaservices.corp.realpage.com/RPLoginSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dbaservices.corp.realpage.com/RPLoginSvc.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://dbaservices.corp.realpage.com/RPLoginSvc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RPLoginSvc" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRPLoginSvc_IsUserMemberOfGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserMemberOfGroup" />
  </wsdl:message>
  <wsdl:message name="IRPLoginSvc_IsUserMemberOfGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserMemberOfGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IRPLoginSvc_IsAuthenticatedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAuthenticatedUser" />
  </wsdl:message>
  <wsdl:message name="IRPLoginSvc_IsAuthenticatedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAuthenticatedUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRPLoginSvc_GetUserEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserEmail" />
  </wsdl:message>
  <wsdl:message name="IRPLoginSvc_GetUserEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IRPLoginSvc_GetUsersGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersGroups" />
  </wsdl:message>
  <wsdl:message name="IRPLoginSvc_GetUsersGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IRPLoginSvc_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IRPLoginSvc_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IRPLoginSvc">
    <wsdl:operation name="IsUserMemberOfGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IRPLoginSvc/IsUserMemberOfGroup" message="tns:IRPLoginSvc_IsUserMemberOfGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRPLoginSvc/IsUserMemberOfGroupResponse" message="tns:IRPLoginSvc_IsUserMemberOfGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAuthenticatedUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRPLoginSvc/IsAuthenticatedUser" message="tns:IRPLoginSvc_IsAuthenticatedUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRPLoginSvc/IsAuthenticatedUserResponse" message="tns:IRPLoginSvc_IsAuthenticatedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IRPLoginSvc/GetUserEmail" message="tns:IRPLoginSvc_GetUserEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRPLoginSvc/GetUserEmailResponse" message="tns:IRPLoginSvc_GetUserEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IRPLoginSvc/GetUsersGroups" message="tns:IRPLoginSvc_GetUsersGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRPLoginSvc/GetUsersGroupsResponse" message="tns:IRPLoginSvc_GetUsersGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRPLoginSvc/GetUserInfo" message="tns:IRPLoginSvc_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRPLoginSvc/GetUserInfoResponse" message="tns:IRPLoginSvc_GetUserInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRPLoginSvc" type="tns:IRPLoginSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsUserMemberOfGroup">
      <soap:operation soapAction="http://tempuri.org/IRPLoginSvc/IsUserMemberOfGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAuthenticatedUser">
      <soap:operation soapAction="http://tempuri.org/IRPLoginSvc/IsAuthenticatedUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmail">
      <soap:operation soapAction="http://tempuri.org/IRPLoginSvc/GetUserEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersGroups">
      <soap:operation soapAction="http://tempuri.org/IRPLoginSvc/GetUsersGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IRPLoginSvc/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RPLoginSvc">
    <wsdl:port name="BasicHttpBinding_IRPLoginSvc" binding="tns:BasicHttpBinding_IRPLoginSvc">
      <soap:address location="http://dbaservices.corp.realpage.com/RPLoginSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>